
@{
    ViewBag.Title = "Advertisement";
    Layout = "~/Views/Shared/_MentorLayout.cshtml";
}
@*<style>
    .ui-dialog-titlebar-close:after {
        content: 'X' !important;
        position: absolute;
        top: -2px;
        right: 3px;
    }

    div.dataTables_wrapper {
        width: 1500px;
        margin: 0 auto;
    }
</style>*@
<link href="~/Custom/css/Advertisement.css" rel="stylesheet" />

<div class="main-table-container">
    <a class="create-btn" href='/Mentor/AddorEditAdvertisements'><i class="fa fa-plus"></i>&nbsp;&nbsp;Add New Course Advertisement</a>
    <table id="Advertisement">
        <thead>
            <tr>
                <th>Class</th>
                <th>Course</th>
                <th>Mentor</th>
                <th>Description</th>
                <th>EmailID</th>
                <th>Contact</th>
                <th>FBatch</th>
                <th>ABatch</th>
                <th>TSeats</th>
                <th>OcSeats</th>
                <th>Fees</th>
                <th>Address</th>
                <th>Language1</th>
                <th>Language2</th>
                <th>Language3</th>
                <th>Language4</th>
                <th>YOE</th>
                <th>GAccount</th>
                <th>Field</th>
                <th>State</th>
                <th>City</th>
                <th>Video1</th>
                <th>Video2</th>
                <th>Video3</th>
                <th>Video4</th>
                <th>Creation Date</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
</div>

        <link href="//cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

        @section Scripts{
            <script src="//cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>

            <script>
        var Popup, dataTable;

        $(document).ready(function () {



            dataTable = $("#Advertisement").DataTable({
                "ajax": {
                    "url": "/Mentor/AdvertisementData",
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": ""
                },
                "responsive": "true",
                "scrollX": true,
                "columns": [
                    { "mData": "ClassName" },
                    { "mData": "CourseName" },
                    { "mData": "MentorName" },
                    { "mData": "Description" },
                    { "mData": "EmailID" },
                    { "mData": "ContactNo" },
                    { "mData": "BatchesFull" },
                    { "mData": "BatchesAvailable" },
                    { "mData": "TotalSeats" },
                    { "mData": "SeatsOccupied" },
                    { "mData": "Fees" },
                    { "mData": "Address" },
                    { "mData": "SpokenLanguage1" },
                    { "mData": "SpokenLanguage2" },
                    { "mData": "SpokenLanguage3" },
                    { "mData": "SpokenLanguage4" },
                    { "mData": "YearsOfExperience" },
                    { "mData": "GitHubAccount" },
                    { "mData": "Field" },
                    { "mData": "State" },
                    { "mData": "City" },
                    { "mData": "DemoLec1" },
                    { "mData": "DemoLec2" },
                    { "mData": "DemoLec3" },
                    { "mData": "DemoLec4" },
                    {
                        "mData": "CreationDate",
                        'render': function (jsonDate) {
                            if (jsonDate != null) {
                                var date = new Date(parseInt(jsonDate.substr(6)));
                                var time = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                                var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
                                var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                                var period = hours < 12 ? "AM" : "PM";
                                return date.toLocaleDateString() + " " + hours + ":" + time + ":" + seconds + " " + period;
                            }
                            return "-";
                        }

                    },
                     {"mData":"AdvertisementID" , "render" : function (data) {
                         return "<a  href='/Mentor/AddorEditAdvertisements/" + data + "'><i class='fa fa-pencil' title='Edit'></i></a><a style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash' title='Delete'></i></a><a style='margin-left:5px' href='/Mentor/ViewAdvertisement/" + data + "')><i class='fa fa-eye' title='View'></i></a>";
                    },
                        "orderable": false,
                        "searchable":false,
                    }
                   ],

                "language": {

                    "emptyTable": "<p id='no-data'>No data found, Please click on <b id='add-data'>ADD</b> Button<p>"
                }
            });
        });

        //function PopupForm(url) {
        //    var formDiv = $('<div />');
        //    $.get(url)
        //        .done(function (response) {
        //            formDiv.html(response);

        //            Popup = formDiv.dialog({
        //                autoOpen: true,
        //                resizable: true,
        //                title: 'Add Advertisement',
        //                height: 500,
        //                width: 700,
        //                close: function () {
        //                    Popup.dialog('destroy').remove();
        //                }

        //            });
        //        });
        //}

        //function jQueryAjaxPost(form) {
        //    $.validator.unobtrusive.parse(form);
        //    if ($(form).valid()) {
        //        var ajaxConfig = {
        //            type: 'POST',
        //            url: form.action,
        //            data: new FormData(form),
        //            success: function (data) {
        //                if (data.success) {
        //                    Popup.dialog('close');
        //                    dataTable.ajax.reload();

        //                    $.notify(data.message, {
        //                        globalPosition: "top center",
        //                        className: "success"
        //                    })

        //                }
        //            },
        //            error: function (e) {
        //                $.notify(e.message);
        //            }
        //        }
        //        if($(form).attr('enctype') == "multipart/form-data") {
        //            ajaxConfig["contentType"] = false;
        //            ajaxConfig["processData"] = false;
        //        }
        //        $.ajax(ajaxConfig);
        //    }
        //    return false;
        //}



        function Delete(id) {
            if (confirm('Are You Sure to Delete this Advertisement ?')) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteAdvertisement", "Mentor")/' + id,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                });
            }
        }
            </script>
        }
