* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
}

#loader img {
    width: 20rem;
    height: 10rem;
}

#loader p {
    font-size: 2.5rem;
    color: #666;
    font-family: 'Open Sans', sans-serif;
}

#loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
