@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}
.main-table-container 
{
    display:flex;
    flex-direction:column;
}
.create-btn {
    font-size: 2rem;
    color: white;
    padding: 1rem 2rem;
    background-color: #006400;
    margin-top: 4rem;
    width: 15rem;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    margin-left: 4rem;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #006400;
    transition:all .3s linear;
}
    .create-btn:hover {
        color: #006400;
        background-color: white;
        border: 2px solid #006400;
    }
    .create-btn i {
        margin-top: 0.3rem;
    }
    #Notes_wrapper {
        font-size: 2rem;
        margin: 4rem 2rem 4rem 2rem;
       overflow-x: scroll;
    }
#Notes_length, #Notes_filter {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #5f27cd;
    border-color: #5f27cd;
    outline: none;
}
    #Notes_length select {
        width: 15rem;
        font-size: 2rem;
        color: #5f27cd;
        border-color: #5f27cd;
        outline: none;
    }
#Notes {
    margin-top: 10rem!important;
    width: 100%;
    overflow-x:scroll;
}
    #Notes th {
        color: #833471;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        background-color: #ffcccc;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border: 2px solid #833471;
    }
.sorting {
    color: #833471;
}
#Notes td {
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border:1px solid #666;
    font-weight:bold;
}
.fa-pencil {
    color: #1e3799;
    cursor: pointer;
}
.fa-trash {
    color: #ff3838;
    cursor:pointer;
}
.fa-eye {
    color: #833471;
}
    .dataTables_info, .paginate_button {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        color: #5f27cd !important;
    }
    .current{
        background-color: #833471;
    }

#Notes tr:nth-child(even) {
    background-color: #ffeaa7 !important;
}
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: #ffeaa7 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: white !important;
    border: 2px solid black!important;
    background-color: white !important;
    color: white !important;
    font-weight: bold;
}
@media screen and (max-width: 354px) {
    #Notes_filter
    {
        margin-top:5rem;
    }
}
.ui-dialog-titlebar {
    background-color: #fab1a0;
    margin:0;
    padding:0;
}
.ui-dialog-title {
    color: #833471;
    padding-top:1rem;
    padding-bottom:1rem;
}
.ui-widget input, .ui-widget textarea{
    font-size: 2rem !important;
    outline: none;
    padding-left: 1rem;
    width: 100%;
}
    .ui-widget input
    {
        padding-top:1rem;
        padding-bottom:1rem;
    }
    #Desc {
        margin-top: 2rem;
    }
.ui-widget textarea
{
    padding-top:1rem;
}
.ui-widget textarea::placeholder {
    padding-top: 0rem;
}
form {
    margin-left: 0rem !important;
    margin-top: 1rem !important;
}
.btn-success,
.btn-reset {
    background-color: #006400;
    padding: 1rem 6rem !important;
    color: white;
    font-size: 2rem;
    border: none;
    outline: none;
    border: 2px solid #006400;
    transition:all .3s linear;
    width:30rem!important;
    margin-top:2rem;
}
    .btn-success:hover {
        border: 2px solid #006400;
        color: #006400;
        background-color:white;
    }

.btn-reset {
    background-color: #D2042D!important;
    border: 2px solid #D2042D!important;
}
    .btn-reset:hover {
        border: 2px solid #D2042D!important;
        color: #D2042D!important;
        background-color: white!important;
    }

@media screen and (max-width:705px) {
    .btn-success,
    .btn-reset {
        width: 20rem !important;
    }
}
@media screen and (max-width:500px) {
    .btn-success,
    .btn-reset {
        width: 10rem !important;
        padding:1rem 3rem!important;
        padding-left:2rem!important;
        text-align:center;
    }
}
#notes-form {
    margin-top: 5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.ui-dialog-title {
    font-size: 1.8rem;
}

.notes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notes-caption {
    display: flex;
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #833471;
}

.notes-data {
    display: flex;
    flex-direction: column;
}
#Notes td:nth-child(2) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    height: 6rem;
    line-height:6rem;
}
#Notes td:nth-child(1)
{
    width:16rem;
}
