
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link href="~/Custom/css/mainIndex.css" rel="stylesheet" />
<link href="~/Custom/css/owl.carousel.min.css" rel="stylesheet" />
<link href="~/Custom/css/owl.theme.default.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<section id="main">
    <div class="container">
        <video class="video" autoplay muted loop>
            <source src="~/uiImages/mainlayout/bg.mp4" type="video/mp4" />
        </video>
    </div>
    <!-- <div class="page-content">
        <h1>
            Make your Kids Learning  <span>Interactive</span>  &  <span>Engaging</span>
        </h1>
    </div> -->
    <div class="page-content">
        <h1>
            Make your Kids Learning  <span class="animate"></span>
        </h1>
    </div>

    <script src="~/Custom/js/typed.js"></script>
    <script>
        var type = new Typed('.animate', {
            strings: ['recommended for kindergarten kids.', 'innovative and fun way to learn.', 'Quite easy to use.'],
            typeSpeed: 60,
            loop: true,
            backSpeed: 40
        });
    </script>
</section>

<section class="desc">
    <h2 data-aos="fade-down" id="main-title">Learning is Fun with <span class="sub-heading">HoloKitab&#128516;&nbsp;</span></h2>
    <div data-aos="fade-up" class="desc-section">
        <p>Bring learning content alive for your small ones</p>
        <p>See the magic of Augmented Reality in Learning. Help your children develop cognitive ability with HoloKitab Augmented Reality Books</p>
    </div>
</section>

<section class="more-content">
    <div class="content-all" data-aos="fade-down">
        <h4 class="content-all-title">What is HoloKitab?</h4>
        <p class="content-all-con">HoloKitab is an early stage startup using Augmented Reality to improve learning experiences.</p>
    </div>

    <div class="content-all1" data-aos="fade-down">
        <h4 class="content-all-title">What do we do?</h4>
        <p class="content-all-con">We publish a wide range of curriculum based Augmented Reality books, which includes live 3D animations, interactions and voiceovers that helps students understand concepts with ease.</p>
    </div>

    <div class="content-all" data-aos="fade-down">
        <h4 class="content-all-title">Whom are these books for?</h4>
        <p class="content-all-con"> Right now, we publish books for children aged 2-6 years old.</p>
    </div>


    <div class="content-all1" data-aos="fade-down">
        <h4 class="content-all-title">Partner with us</h4>
        <p class="content-all-con">Are you a School/Distributor/Publisher? Partner with us and see how together, we can improve the learning ecosystem in India.</p>
    </div>
</section>

<img src="~/uiImages/waves/book-wave.svg" alt="wave-img" id="books-wave" height="auto" width="auto">
<section class="books">
    <img src="~/uiImages/mainlayout/new-anime-book.webp" alt="anime book img" loading="lazy" id="animebook" data-aos="slide-right">
    <div class="books-inner">
        <h2 class="book-title" id="catalogue">Our Library</h2>
        <h3 class="book-desc">Discover our latest Augmented Reality Experiences</h3>
    </div>
    <div class="all-books">
        <div class="specific-book">
            <img src="./img/book2.webp" alt="3D ABC book" loading="lazy" class="books-img" data-aos="fade-up-right">
            <h3 class="specific-book-title">3D ABC</h3>
            <p class="specific-book-subtitle">For the age Group 2-6</p>
            <div class="book1desc">Learn alphabtes in an all new way! Experience the 3D world of ABC and interact with animals!</div>
            <div class="content">
                <p>Paperback</p>
                <p>32 pages</p>
            </div>
            <div class="bookbtn">
                <button class="buy-nw-btn" onclick="window.location.href='http://go.holokitab.in/3Dalphabets';">Buy Now</button>
            </div>
        </div>

        <div class="specific-book">
            <img src="./img/book1.webp" alt="3D Counting book" loading="lazy" class="books-img" data-aos="fade-up-right">
            <h3 class="specific-book-title">3D Counting</h3>
            <p class="specific-book-subtitle">For the age Group 2-6</p>
            <div class="book1desc">Visualize and count in real time. Tracing and counting activities also included.</div>
            <div class="content">
                <p>Paperback</p>
                <p>64 pages</p>
            </div>
            <div class="bookbtn">
                <button class="buy-nw-btn" onclick="window.location.href='http://go.holokitab.in/3Dcounting';">Buy Now</button>
            </div>
        </div>


        <div class="specific-book">
            <img src="./img/book3-new.webp" alt="3D varnmala" loading="lazy" class="books-img" data-aos="fade-up-right">
            <h3 class="specific-book-title">3D वर्णमाला</h3>
            <p class="specific-book-subtitle">For the age Group 2-6</p>
            <div class="book1desc">Remember Hindi swar and vyanjan with ease using our 3D visualization! Its worth a try.</div>
            <div class="content">
                <p>Paperback</p>
                <p>60 pages</p>
            </div>
            <div class="bookbtn">
                <button class="buy-nw-btn" onclick="window.location.href='http://go.holokitab.in/amazon';">Coming soon</button>
            </div>
        </div>
    </div>
    <img src="~/uiImages/mainlayout/girl.png" alt="small-girl" loading="lazy" id="small-girl" data-aos="fade-up-right">
</section>

<div class="partner-upper">
    <div class="custom-shape-divider-top-1627307556" id="partner-wave-upper">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200,0H0V120H281.94C572.9,116.24,602.45,3.86,602.45,3.86h0S632,116.24,923,120h277Z" class="shape-fill"></path>
        </svg>
    </div>
</div>

<section class="partners">
    <p id="feature-title" style="text-align: center;font-size: 4rem;font-weight: bolder;" data-aos="fade-down">Features</p>
    <div class="owl-carousel owl-theme">
        <div class="item" style="background-color: #F76FBC;">
            <img src="img/Features/feature-1.png" alt="">
            <h2>Real 3D Learning</h2>
            <p>Students can observe 3D Virtual objects in the real world. Thus, making the learning process exciting and fun</p>
        </div>
        <div class="item" style="background-color:#00b894;">
            <img src="img/Features/feature-2.png" alt="">
            <h2>Real 3D Learning</h2>
            <p>Students can observe 3D Virtual objects in the real world. Thus, making the learning process exciting and fun</p>
        </div>
        <div class="item" style="background-color: #8854d0;">
            <img src="img/Features/feature-3.png" alt="">
            <h2>Real 3D Learning</h2>
            <p>Students can observe 3D Virtual objects in the real world. Thus, making the learning process exciting and fun</p>
        </div>
        <div class="item" style="background-color: #227093;">
            <img src="img/Features/feature-4.png" alt="">
            <h2>Real 3D Learning</h2>
            <p>Students can observe 3D Virtual objects in the real world. Thus, making the learning process exciting and fun</p>
        </div>
        <div class="item" style="background-color: #596275;">
            <img src="img/Features/feature-5.png" alt="">
            <h2>Real 3D Learning</h2>
            <p>Students can observe 3D Virtual objects in the real world. Thus, making the learning process exciting and fun</p>
        </div>
        <div class="item" style="background-color: #F97F51;">
            <img src="img/Features/feature-6.png" alt="">
            <h2>Real 3D Learning</h2>
            <p>Students can observe 3D Virtual objects in the real world. Thus, making the learning process exciting and fun</p>
        </div>
    </div>

    <script src="~/Custom/js/owl.carousel.min.js"></script>

    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            autoplay: true,
            autoplayTimeout: 500,
            autoplayHoverPause: true,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 2,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 4,
                    nav: true,
                },
                1531:
                {
                    items: 5,
                    nav: true,
                }
            }
        })
    </script>
</section>

<div class="partner-lower">
    <div class="custom-shape-divider-bottom-1627128795">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200,0H0V120H281.94C572.9,116.24,602.45,3.86,602.45,3.86h0S632,116.24,923,120h277Z" class="shape-fill"></path>
        </svg>
    </div>
</div>

<section class="features">
    <h2 class="feature-title" data-aos="fade-down">Our features</h2>
    <div class="features-part">
        <div class="feature">
            <img src="./img/home/3d-movie.webp" alt="3danimations-image" loading="lazy">
            <p>3D Animations</p>
        </div>

        <div class="feature">
            <img src="./img/home/music.png" alt="interactive-sound img" loading="lazy">
            <p>Interactive Sounds</p>
        </div>

        <div class="feature">
            <img src="img/home/sound.png" alt="natural voiceovers img" loading="lazy">
            <p>Natural voiceovers</p>
        </div>

        <div class="feature">
            <img src="img/home/graphic-design.png" alt="graphic design img" loading="lazy">
            <p>HD Graphics</p>
        </div>

        <div class="feature">
            <img src="img/home/no-wifi.png" alt="offline img" loading="lazy">
            <p>Works Offline</p>
        </div>

        <div class="feature">
            <img src="img/home/hands.png" alt="easy img" loading="lazy">
            <p>Easy to use</p>
        </div>
    </div>
</section>

<section class="ar-book-content">
    <div class="book-content">
        <h3 class="bookcontent-title">How does <span>HoloKitab 3D book</span> works ??</h3>
        <p>
            At Holokitab, we use the power of Augmented Reality, to display real-time 3D visulaisation and information about the object you are scanning.<br><br> <span>To Experience Augmented Reality, please follow the following steps:</span><br><br>
            1) Download the Holokitab App from <a href="http://Go.holokitab.in/playstore" target="_blank" class="all-links">Playstore</a> or <a href="http://Go.holokitab.in/appstore" target="_blank" class="all-links">Appstore</a> .<br>
            2) Click on start to scan button<br>
            3) Select the book from the catalouge that you have purchased<br>
            4) Click on Play and enjoy:)<br>
        </p>
    </div>
    <div class="book-image">
        <img src="img/home/new-ar-book.webp" loading="lazy" alt="ar-book" id="arbook" data-aos="fade-down-right">
    </div>
</section>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="~/Custom/js/common.js"></script>