<link href="~/Custom/css/Transaction.css" rel="stylesheet" />
<div class="main-container">
    <h1>Transaction Processed</h1>
    <div class="successful-msg">
        <p>Payment Done Sucessfully</p>
        <img src="~/uiImages/Fees/PaymentDone.png" alt="payment-success-msg" />
    </div>
    <a href="/Student/ViewApprovedApplication">Back to Main Screen</a>
</div>
